body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #af4c65;
    color: white;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

header p {
    font-size: 1.2rem;
    margin-top: 10px;
}


#about {
    background-image: url('https://raw.githubusercontent.com/wabii-koo/codesoft/main/Screenshot_2024-11-01-21-17-26-535.jpeg');
    background-size: cover; 
    background-position: center; 
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#about img {
    width: 150px;
    border-radius: 50%;
    margin: 15px 0;
}

#skills, #projects, #resume, #contact {
    padding: 20px;
    background: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills ul li {
    background: #4CAF50;
    color: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.project {
    margin-bottom: 20px;
}

.project img {
    width: 70px;
    border-radius: 80px;
    float: right;
}

footer {
    background: #4c8caf;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (max-width: 500px) {
    nav ul li {
        display: block;
        margin: 12px 0;
    }

    h1 {
        font-size: 2rem; 
    }

    header p {
        font-size: 1.5rem;
    }
}
